body {
    margin: 0;
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #f0f0f0;
}

#game {
    width: 100%;
    height: 100%;
}

.wheel-container {
    position: relative;
    top: 15vh;
    width: 70vh;
    height: 70vh;
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center; /* Center the colors */
}

#wheel {
    position: relative;
    width: 100%;
    height: 100%;
    border-radius: 50%;
    border: 5px solid #000;
    margin: auto;
}

.letter-box {
    position: absolute;
    width: 50px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #fff;
    font-size: 20px;
    cursor: pointer;
    text-align: center;
    line-height: 50px;
    transform-origin: center;
    transition: transform 0.3s ease, background-color 0.3s ease;
    user-select: none;
}

.letter-box.used {
    background-color: #ccc;
    pointer-events: none;
    transform: rotateX(90deg); /* 3D effect when 'pushed' */
}

#time {
    position: absolute;
    top: 35%;
    left: 50%;
    transform: translateX(-50%);
    font-size: 5vh;
    font-weight: bold;
}

#colors {
    position: absolute;
    font-size: 24px;
    text-align: center;
}

#setup {
    display: block;
    text-align: center;
    margin-top: 20px;
}

.name-input {
    margin-bottom: 4px;
}

#startGame {
    margin-top: 16px;
}

#numPlayers {
    margin-bottom: 16px;
}

#currentPlayer {
    position: absolute; 
    top: 50%; left: 50%; 
    transform: translate(-50%, -60%); 
    font-size: 5vw; 
    font-weight: bold;
}

#resultsText {
    line-height: 1.5em;

    width: 100%;
}

#results {
    display: flex;
    flex-direction: column;

    width: max(300px, 60vw);

    justify-content: center;

    text-align: center;
}

#okButton {
    margin-top: 24px;
}